
.related--films {
    margin-bottom: 10px;
    text-align: center;
}


.similar--film__poster {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}


@media only screen and (min-width: 768px) {}



@media only screen and (min-width: 1200px) {
    .related--films {
        width: 95%;
    }
}