
.related--films {
    /*height: 200px;*/
    /*width: 300px;*/
    /*background-color: green;*/
    margin-bottom: 10px;
    text-align: center;
}


.similar--film__poster {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    /*height: 200px;*/

}

/*.similar--film__title {*/
    /*font-size: 1rem;*/
/*}*/

@media only screen and (min-width: 768px) {}



@media only screen and (min-width: 1200px) {
    .related--films {
        width: 95%;
    }
}