

@media only screen and (min-width: 768px) {
    .main--grid {
        overflow-y: scroll;
        height: calc(100vh - 60px);
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        justify-content: flex-start;
        /*text-align: center;*/
        /*margin: auto;*/
    }
}


@media only screen and (min-width: 1200px) {

}